body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../images/PebblesBackground.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #1866d2;
  text-decoration: none;
}

a:hover {
  color: #1866d2;
  text-decoration: none;
}

.resume-contact li {
  list-style-type: none;
}

.resume-item h4 {
  color: #aaaaaa;
}
